body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

section {
    display: none;
    margin-bottom: 20px;
}

section.active {
    display: block;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    color:Red;
    cursor: pointer;
}

#patients-list, #appointments-list, #doctors-list, #reports-list {
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
}
