body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.admin-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color:#333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.admin-button:hover {
    background-color: darkgrey;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px 0;
}

.tabs a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.tabs a:hover {
    background-color: #666;
    border-radius: 5px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px; 
    width: 80%;
    max-width: 1200px;
}

.mascot {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.about-text {
    max-width: 600px;
}

.doctors-section {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1200px;
    margin-bottom: 40px; 
}

.doctor-profile {
    text-align: center;
}

.doctor-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
